@model BankManagementSystem.Models.TransactionHistories

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TransactionHistories</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.manager)
        </dt>*@
        @*<dd>
            @Html.DisplayFor(model => model.manager.full_name)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.senderAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.senderAccount.first_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.receiverAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.receiverAccount.first_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.operation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.operation.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.currency.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.operation_time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.operation_time)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
